<style >
	*{		
			margin: 0px;
			box-sizing: border-box;
			box-align: center;
			font-family: sans-serif;
			margin-bottom: 10px;
			margin-right: 5px;
		}
	h2{
		text-align: center;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	#x,#y,#z{
			background-color: gray;
			color: black;
			display: block;
			border: 2px solid black;
			box-sizing: border-box;
			position: relative;
		}

	#a{
			background-color: lightpink;
			color: black;
	}
	#b{
			background-color: darkred;
			color: white;
	}
	#c{
			background-color: palegoldenrod;
			color: black;
	}
	#b ,#a,#c{
			display: block;
			padding: 10px;
			border: 2px solid black;
			box-sizing: border-box;
			width: 33.33%;
			position: relative;
			left: 66.66%;
			text-align: center;
	}

	p{
		margin: 3%;
	}
	.row{
		width: 100%;
	}
@media (min-width: 992px) {
.col-lg-4{
    float: left;
    border: 1px solid green;
    width: 32%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-6 {
    width: 49%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}

</style>
